<h1>Here are your details about @Model.GetName(): </h1>
<ul>
  <li>
    Phone Number: @Model.GetPhoneNumber()
  </li>
  <li>
    Address: @Model.GetAddress()
  </li>
</ul>

<a href="/contactList">Go back to all contacts</a>
<br><br>
<a href="/">Go back Home</a>
