<h1>Congrats!</h1>
<h2>You created a brand new Contact</h2>

<li>
  <h3>Name: @Model.GetName()</h3>
  <ul>
    <li>
      Phone Number: @Model.GetPhoneNumber()
    </li>
    <li>
      Address: @Model.GetAddress()
    </li>
  </li>
  </ul>

<a href="/contactList">Go to list of all Contacts</a>
